[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = rainayangg
	email = raina.yang.chn@gmail.com 
[http]
	sslverify = false
[init]
	defaultBranch = main
[core]
	excludesfile = /Users/yangrui/.gitignore_global
